extends layout

block content
  h1= title
  p Hola buenas, bienvenido a #{title}!
  p ir a #[a(href='/search') Search].
  p ir a #[a(href='/newUser') New User].
  p ir a #[a(href='/users') Users].
    
